/* Change Heading Color */
h1 {
	color: white;
	text-transform: uppercase;
	background-color: CornflowerBlue;
	font-family: Helvetica;
	font-weight: bold;
}
/* Center Table */
table {
	margin: auto;
}

/* Align Items Center Body */
body {
	text-align: center;
	margin: auto;
	font-family: Helvetica;
}
