/* Change Heading Color */
h1 {
	color: white;
	text-transform: uppercase;
	background-color: CornflowerBlue;
	font-family: Helvetica;
	font-weight: bold;
}
.center {
	font-family: Arial;
	list-style-position: inside;
}
