h1 {
	color: white;
	text-transform: uppercase;
	background-color: CornflowerBlue;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 65px;
	text-align: center;
	margin: 0 0 10px 0;
}
h2 {
	font-family: Helvetica;
	color: #00BFFF;
	background-color: #483D8B;
	font-weight: bold;
	text-align: center;
}
h3 {
	font-family: Arial;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
}
ol li {
	font-family: Arial;
	list-style-position: inside;
	text-align: center;
}
p {
	font-family: Arial;
	text-align: center;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #001f3f;
    color: #2ECC40;
}
.centered {
	text-align: center;
}
.tictactoebox {
	background-color: #00008B;
	font-family: Helvetica;
	border: none;
	border-radius: 30%;
	padding: 0px;
	margin: 3px 3px; 
	color: #00FA9A;
	text-align: center;
	display: inline-block;
	font-size: 400%;
	width: 100px;
	height: 100px;
}
.byline {
	float: left;
}
#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
    color: white;
}